body {
    background-color: #FDFBEE;
}

.title {
    text-align: center;
    font-family: Inter;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: 12px;
    margin-top: 50px;
}
.box {
    text-align: left;
    margin-top: 60px;
    margin-left: 200px;
}

.app-name {
    font-family: Inter;
    font-size: 42px;
    font-weight: 400;
    letter-spacing: 8.4px;
    color: #5e5a00;
}

.message {
    font-family: Inter;
    font-size: 25px;
    font-weight: 400;
    width: 1026px;
}
