

.information-box {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-left: 460px;
    margin-top: 70px;
    width: 600px;
    height: 500px;
    border-radius: 17px;
    background: #FFF;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.50);
    display: flex;
}

.information-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 60px;
}

.information-header .title {
    font-family: Inter;
    font-size: 30px;
    font-weight: 500;
    line-height: 80px;
    margin-left: 30px;
}

.information-box .middle-side {
    width: 100%;
    display: flex;
    margin-top: -120px;
}

.middle-side .left-side {
    width: 50%;
    margin-top: 35px;

}

.full-name, .address, .birthday, .contact-number {
    font-family: Inter;
    font-size: 14px;
    font-weight: 500;
    line-height: 65px;
    margin-left: 56px;
    margin-bottom: -18px;
}
.address, .birthday, .contact-number {
    margin-top: -16px;
}

.input {
    width: 200px;
    height: 30px;
    flex-shrink: 0;
    border-radius: 13px;
    border: 2px solid #4b4b4b;
    background: #FFF;
    margin-left: 50px;
    margin-top: -5px;
    padding-left: 16px;
}

.middle-side .right-side {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right-side .profile {
    width: 100%;
    height: 200px;
    margin-bottom: 6px;
    margin-top: -50px;
    border-radius: 20px;
    border-width: 4px;
    border-style: solid;
    border-color: #800080;
}

.right-side .change-picture {
    font-family: Inter;
    font-size: 8px;
    font-weight: 700;
    letter-spacing: 3.2px;
    background-color: #800080;
    color: white;
    padding: 10px 16px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-left: 15px;
    cursor: pointer;
}

.next-button {
    position: fixed;
    bottom: 100px;
    left: 670px;
}

.next-button .proceed {
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3.2px;
    background-color: #800080;
    color: white;
    padding: 10px 50px;
    border-radius: 13px;
    margin-bottom: 30px;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.submit-it {
    font-size: 12px;
    padding: 10px 10px;
    margin-top: 20px;
    margin-left: 110px;
    border-radius: 6px;
    cursor: pointer;
}
