.header {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0.60) 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header .left-side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 420px;
    padding-left: 30px;
}

.header .left-side .logo {
    height: 36px;
}

.header .right-side {
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 80px;
}

.header .right-side .sign-up {
    margin-right: 16px;
    border: none;
    background-color: rgb(224, 50, 224);
    border-radius: 6px;
    padding: 4px 8px;
    margin-left: 6px;
}