div {
    color: black;
}

/* side-bar */
.my-profile-side-bar {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    box-shadow: 0 0 15px rgba(48, 48, 48, 0.15);
}

.picture-box {
    width: 65%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 16px;
}

.profile-picture {
    width: 90%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.teacher-name, .teacher-instrument, .teacher-experience {
    font-family: Inter;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

.teacher-name {
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 4px;
    margin-bottom: 6px;
}

.teacher-instrument {
    color: gray;
    font-size: 16px;
    font-weight: 400;
}

.teacher-experience {
    width: 250px;
    text-align: left;
    margin-top: 10px;
}

.highlight {
    color: #E032E0;
    font-family: Inter;
    font-weight: 700;
}

.edit-button {
    margin-top: 50px;
    padding: 10px 30px;
    background: linear-gradient(#df26df, #981f98);
    border: none;
    color: white;
    font-family: Inter;
    font-weight: 700;
    letter-spacing: 2px;
    border-radius: 15px;
    font-size: 14px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Statistics */

.statistics-box {
    display: grid;
    flex-direction: column;
    margin-left: 350px;
    padding-left: 40px;
    margin-top: 20px;
    height:600px;
    margin-right: 20px;
    position: relative;
}

.statistics-title {
    letter-spacing: 4px;
    font-family: Inter;
    font-weight: 700;
    font-size: 40px;
    height: 50px;
    margin-bottom: 50px;
}

.statistics-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    margin-bottom: 400px;
}

.statistics-grid .box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.box .percent {
    font-family: Inter;
    font-size: 32px;
    font-weight: 700;
}

.color-1, .color-2, .color-3, .color-4,
.color-5, .color-6, .color-7 {
    margin: 10px 0;
    background-color: #df26df;
    color: #df26df;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 200px;
}

.color-1 {
    color: #800080;
    border: 1px solid #000;
    background: #800080;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 100px;
    padding-bottom: 100px;
}

.color-2 {
    background: #9C099C;
    color: #9C099C;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 80px;
    padding-bottom: 120px;
}

.color-3 {
    background: #B30CB3;
    color: #B30CB3;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 90px;
    padding-bottom: 110px;
}

.color-4 {
    background: #BC0EBC;
    color: #BC0EBC;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 110px;
    padding-bottom: 90px;
}

.color-5 {
    background: #D70FD7;
    color: #D70FD7;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 130px;
    padding-bottom: 70px;
}

.color-6 {
    background: #F209F2;
    color: #F209F2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 155px;
    padding-bottom: 45px;
}

.color-7 {
    background: #e155e1;
    color: #e155e1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-top: 128px;
    padding-bottom: 72px;
}

.box .day {
    font-family: Inter;
    font-weight: 700;
    font-size: 16px;
}

.statistics-flex {
    display: flex;
    background-color: rgb(255, 255, 255);
    position: absolute;
    bottom: 10px;
    height: 100px;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-radius: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.guitar-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.guitar {
    width: 100%;
    height: 100%;
}

.guitar-instrument {
    font-family: Inter;
    font-weight: 700;
    font-size: 18px;
}

.monday-statistics, .tuesday-statistics,
.wednesday-statistics, .thursday-statistics,
.friday-statistics, .saturday-statistics,
.sunday-statistics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.statistics-flex .guitar {
    width: 60%;
    height: 60%;
}

.statistics-flex .numbers {
    color: #800080;
    font-family: Inter;
    font-size: 40px;
    font-weight: 700;
}

.enrollees {
    font-family: Inter;
    font-size: 13px;
    font-weight: 400;
}



/* Testimonials */

.testimonials-box {
    display: flex;
    flex-direction: column;
    margin-top: 26px;
    margin-left: 350px;
    padding-left: 40px;
}

.title {
    letter-spacing: 4px;
    font-family: Inter;
    font-weight: 700;
    font-size: 30px;
}

.description {
    font-family: Inter;
    font-size: 20px;
}

.students-testimonials-box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 50px;
    background: linear-gradient(180deg, #206399 0%, #195483 100%);
    box-shadow: -10px 10px 10px rgba(1, 115, 203, 0.15);
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 100px;
    height: 200px;
}

.testimonial-statement {
    background-color: #195483;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 20px rgba(225, 51, 225, 0.2);
}

.testimonial-description, .student-name {
    font-family: Inter;
    font-size: 13px;
    margin: 0 8px;
    color: white;
}

.student-name {
    margin-top: 10px;
    font-weight: 700;
}